root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
args_bin = []
pre_cmd = ["sqlc generate"]
cmd = "CGO_ENABLED=0 go build -gcflags=all=\"-N -l\" -o ./tmp/main ./cmd/fritz"
delay = 100
exclude_dir = ["tmp", "vendor", "app/ui", "var", "database/generated"]
exclude_file = []
exclude_regex = [".*.js"]
exclude_unchanged = false
follow_symlink = false
entrypoint = [
    "dlv", "exec", "--accept-multiclient", "--log", "--headless", "--continue",
    "--listen=127.0.0.1:2345", "--api-version=2", "./tmp/main"
]
include_dir = []
include_ext = ["go"]
include_file = []
kill_delay = "0s"
log = "build-errors.log"
poll = false
poll_interval = 0
rerun = false
rerun_delay = 500
send_interrupt = false
stop_on_error = false
clean_on_exit = true

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
main_only = false
silent = false
time = false

[misc]
clean_on_exit = true

[screen]
clear_on_rebuild = true
keep_scroll = true